html, body, .container-fluid {
  background-color: #eddd2f;
 }

 .text-input {
   font-size: 16px;
}

.hash-output {
  color: #575B5E;
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.hash-heading {
  color: #575B5E;
  font-weight: normal;
}

.login-heading {
  display: inline-block;
  color: #575B5E;
  font-weight: normal;
  font-size: 20px;
  width: 110px;
  text-align: right;
}
